/* You can add global styles to this file, and also import other style files */
.card{
    box-shadow: 0 1px 10px 3px rgb(255 255 255 / 0.5);
    transition: all 0.5s;
}
.card:hover{
    transform: scale(1.06);
    cursor: pointer;
    .layer{
        opacity: 1;
    }
}
i , a {
    cursor: pointer;
}
body{
    background-color: black;
}
h1{
    box-shadow: 0 1px 10px 3px rgb(255 255 255 / 0.5);
}
img{
    width: 80px;
  
}
.layer{

    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.65);
    opacity: 0;
    transition: all 0.5s;
    color: white;
}